.homie {
  padding-top: 75px;
  min-height: 100vh;
}
.homie_wallpaper {
  width: 100%;
  height: 100vh;
  background-image: url("../public/war.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: fixed;
  top: 70;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: black;
}
.homie_banner {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-animation: shine 0.5s infinite;
          animation: shine 0.5s infinite;
  display: flex;
  align-items: center;
  padding: 0 40px;
  background-color: #a47f02;
  background-image: linear-gradient(to left, #a47f02, #FFC300);
  z-index: 99;
}
.homie_banner #dropdown {
  position: relative;
  left: 10px;
  display: grid;
}
.homie_banner #dropdown #category {
  padding: 0 5px;
  box-shadow: 0 0 3px 1px black;
  height: 50px;
  width: 60px;
  cursor: pointer;
}
.homie_banner #dropdown #category:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: whitesmoke;
}
.homie_banner #modal {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  color: whitesmoke;
}
.homie_banner #modal div {
  display: grid;
  row-gap: 10px;
  font-size: x-large;
  padding: 5px;
  box-shadow: 0 0 3px 1px var(--mainColor);
  cursor: pointer;
}
.homie_banner #modal div:hover {
  padding: 15px;
}
.homie_banner #modal div img {
  width: 40vw;
  max-width: 190px;
}
.homie_banner_search, .homie_banner_search2 {
  position: absolute;
  left: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  z-index: -1;
}
.homie_banner_search_kernel, .homie_banner_search2_kernel {
  padding: 5px 20px;
  width: 50vw;
  max-width: 500px;
  position: relative;
  left: 4vw;
  border-radius: 10px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  box-shadow: 0 0 2px 1px black;
}
.homie_banner_search_kernel input, .homie_banner_search2_kernel input {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  line-height: 1.5;
  padding-left: 10px;
  font-size: large;
}
.homie_banner_search_kernel input::-moz-placeholder, .homie_banner_search2_kernel input::-moz-placeholder {
  color: whitesmoke;
  opacity: 0.5;
}
.homie_banner_search_kernel input:-ms-input-placeholder, .homie_banner_search2_kernel input:-ms-input-placeholder {
  color: whitesmoke;
  opacity: 0.5;
}
.homie_banner_search_kernel input::placeholder, .homie_banner_search2_kernel input::placeholder {
  color: whitesmoke;
  opacity: 0.5;
}
.homie_banner_search_kernel:hover, .homie_banner_search2_kernel:hover {
  box-shadow: 0 0 4px 2px rgb(36, 35, 35);
}
.homie_banner_search2 {
  z-index: 999;
  background-color: black;
  padding: 5px;
  height: 70px;
  overflow: hidden;
  -webkit-animation: src_enlarge 300ms 1;
          animation: src_enlarge 300ms 1;
  align-items: center;
}
.homie_banner_search2_kernel {
  padding: 5px 4vw;
  max-width: 100vw;
  left: 0;
  width: 100vw;
  box-shadow: none;
}
.homie_banner_search2_kernel input {
  color: whitesmoke;
}
.homie_banner_search2_kernel input::-moz-placeholder {
  color: whitesmoke;
  opacity: 0.5;
}
.homie_banner_search2_kernel input:-ms-input-placeholder {
  color: whitesmoke;
  opacity: 0.5;
}
.homie_banner_search2_kernel input::placeholder {
  color: whitesmoke;
  opacity: 0.5;
}
.homie_banner_search2 span {
  position: absolute;
  right: 20px;
  color: white;
  font-size: larger;
  border: 2px solid silver;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.homie_banner_search2 span:hover {
  color: crimson;
  border: 2px solid crimson;
}
.homie_banner #alt_search {
  position: absolute;
  right: 80px;
  display: none;
  cursor: pointer;
}
.homie_banner #comments {
  position: absolute;
  right: 40px;
  filter: brightness(1.9);
}
.homie_banner #login {
  position: absolute;
  right: 40px;
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
  font-size: larger;
  letter-spacing: normal;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 10px;
  box-shadow: 0 0 3px 1px black;
}
.homie_banner #login:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.homie_banner #login #afterlogin {
  position: absolute;
  right: -15%;
  top: 75px;
  background-color: #a47f02;
  display: flex;
  width: 130%;
  -webkit-animation: login_enlarge 0.7s 1;
          animation: login_enlarge 0.7s 1;
  height: 150px;
  border-radius: 5px;
  display: grid;
  padding: 5px;
  gap: 5px;
  overflow: hidden;
}
.homie_banner #login #afterlogin button {
  background: transparent;
  border: 2px solid black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 5px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: large;
  width: 100%;
}
.homie_banner #login #afterlogin button:hover {
  color: whitesmoke;
  border: 2px solid whitesmoke;
}
.homie_subs {
  color: whitesmoke;
  padding: 10px 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
  height: 50px;
  row-gap: 10px;
  overflow: hidden;
}
.homie_subs button {
  padding: 5px 20px;
  background-color: rgba(192, 192, 192, 0.3);
  color: whitesmoke;
  height: 30px;
  display: flex;
  align-items: center;
}
.homie_subs #showall {
  position: absolute;
  right: 40px;
  background-color: black;
  border: none;
}
.homie_subs #showall span {
  position: absolute;
  left: -8px;
  top: 0;
  width: 9px;
  height: 35px;
  background-color: black;
  box-shadow: -6px -2px 15px 4px black;
}
.homie_subs #showall h4 {
  position: absolute;
  top: -3px;
  background-color: black;
  color: var(--mainColor);
  font-size: x-large;
  font-weight: bolder;
  padding: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px solid gray;
}
.homie_subs #shrink {
  background-color: transparent;
  color: var(--mainColor);
  font-size: x-large;
  font-weight: bolder;
  padding: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px solid gray;
}
.homie_categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 1%;
       column-gap: 1%;
  padding: 1%;
  justify-items: center;
}
.homie_categories img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.homie_categories_each {
  font-size: 2em;
  display: grid;
  row-gap: 5px;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  position: relative;
  padding: 2%;
  padding-top: 0;
  max-width: 800px;
}
.homie_categories_each img {
  z-index: 2;
  box-shadow: 0 0 8px 1px whitesmoke;
}
.homie_categories_each:hover {
  background-image: linear-gradient(to left, #FFC300, #a47f02);
  border-radius: 5px;
}
.homie_categories_each:hover img {
  border-bottom-right-radius: 30%;
  box-shadow: 0 0 8px 1px black;
}
.homie_categories_each #hideout {
  position: absolute;
  bottom: 2%;
  right: 2%;
  z-index: 1;
}
.homie_categories_each #hideout img {
  width: 4vw;
  max-width: 30px;
  aspect-ratio: 1/1;
}
.homie_categories_each #sld {
  display: none;
}
.homie_items {
  display: grid;
  justify-items: center;
}
.homie_items_shell {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.homie_items_shell_each {
  width: 250px;
  border-radius: 5px;
  aspect-ratio: 2/3;
  padding: 30px 20px;
  box-shadow: 1px 1px 9px 0px silver;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  cursor: pointer;
}
.homie_items_shell_each:hover {
  box-shadow: 1px 1px 9px 4px silver;
}
.homie_items_shell_each:hover .homie_items_shell_each_image img {
  box-shadow: 1px 1px 9px 4px var(--mainColor);
}
.homie_items_shell_each #icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.homie_items_shell_each_image {
  height: 50%;
  display: flex;
  justify-content: center;
}
.homie_items_shell_each_image img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 9px 1px whitesmoke;
  padding: 3%;
  border-radius: 10px;
}
.homie_items_shell_each_details {
  padding-top: 30px;
  padding-left: 10px;
  height: 50%;
}
.homie_items_shell_each_details h2 {
  font-weight: 200;
}
.homie_items_shell_each_details h3 {
  padding-top: 10px;
  color: var(--mainColor);
  font-weight: 100;
  font-size: x-large;
}
.homie_product {
  min-height: 100vh;
  padding: 20px 40px;
  position: relative;
}
.homie_product #cover {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.homie_product #blacken {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.homie_product_holder {
  position: absolute;
  z-index: 3;
  width: calc(100% - 80px);
  box-shadow: 0 0 4px 1px rgb(34, 33, 33);
  display: flex;
}
.homie_product_holder #item {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 2%;
  width: 30vw;
  min-width: 300px;
  height: auto;
}
.homie_product_holder_details {
  width: 100%;
  color: white;
  padding: 2% 4%;
  display: grid;
  row-gap: 10px;
}
.homie_product_holder_details_title, .homie_product_holder_details_explain, .homie_product_holder_details_price {
  border-bottom: 1px solid rgb(95, 93, 93);
}
.homie_product_holder_details_title {
  font-size: xx-large;
}
.homie_product_holder_details_explain {
  display: flex;
  -moz-column-gap: 5%;
       column-gap: 5%;
  font-size: large;
}
.homie_product_holder_details_price {
  font-size: larger;
}
.homie_product_holder_details_buts {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.homie_product_holder_details_buts button {
  background: transparent;
  padding: 5px 20px;
  color: whitesmoke;
  font-size: larger;
}
.homie_product_holder_orders {
  position: absolute;
  bottom: -110px;
  display: grid;
  justify-items: center;
  width: 100%;
}
.homie_product_holder_orders_kernel {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 0 40px;
  position: relative;
  width: 100%;
  max-width: 1000px;
  border-top: 2px solid rgb(70, 66, 66);
}
.homie_product_holder_orders_kernel_tabs {
  display: flex;
  -moz-column-gap: 5%;
       column-gap: 5%;
  padding: 20px 0;
}
.homie_product_holder_orders_kernel_tabs button {
  border: none;
  background-color: transparent;
  color: rgb(199, 196, 196);
  font-size: x-large;
  font-weight: bold;
  position: relative;
  display: grid;
  justify-items: center;
}
.homie_product_holder_orders_kernel_tabs button:hover #line {
  width: 100%;
  display: block;
  -webkit-animation: widen 0.2s 1;
          animation: widen 0.2s 1;
  border: 2px solid rgb(199, 196, 196);
}
.homie_product_holder_orders_kernel_tabs button #line {
  position: absolute;
  bottom: -5px;
  display: none;
}
.homie_product_holder_orders_kernel_options {
  position: absolute;
  padding: 20px 40px;
  top: 66px;
  left: 0;
  right: 0;
  color: whitesmoke !important;
  background-color: rgba(255, 255, 255, 0.15);
  display: grid;
  row-gap: 5px;
}
.homie_product_holder_orders_kernel_options #titles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 10px;
}
.homie_product_holder_orders_kernel_options #titles div {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.65);
  font-size: larger;
}
.homie_product_holder_orders_kernel_options_option {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
.homie_product_holder_orders_kernel_options_option div {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 5px 10px;
  font-size: larger;
}
.homie_product_holder_orders_kernel_options_option div:nth-child(1) {
  justify-content: center;
}
.homie_product_holder_orders_kernel_options_option div:nth-child(1) img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}
.homie_product_holder_orders_kernel_options_option div:nth-child(4) {
  justify-content: center;
  background-color: transparent;
  padding: 0;
}
.homie_product_holder_orders_kernel_options_option div:nth-child(4) button {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #FFC300;
  font-size: large;
}
.homie_product_holder_orders_kernel_chart {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 300px;
  align-items: flex-start;
}
.homie_product_holder_orders_kernel_chart #result {
  border: 2px solid black;
  background-color: white;
  position: absolute;
  width: 50%;
  max-width: 100px;
  aspect-ratio: 2/1;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}
.homie_product_holder_orders_kernel_chart canvas {
  background-color: rgba(192, 192, 192, 0.2);
  position: absolute;
  width: 100%;
  right: 0;
  top: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}
.homie_product_holder_orders_kernel_chart_yy {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  aspect-ratio: 1/3.05;
  background-color: rgba(0, 128, 0, 0.3);
  display: grid;
  color: whitesmoke !important;
}
.homie_product_holder_orders_kernel_chart_yy div {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: small;
}
.homie_product_holder_orders_kernel_chart_X {
  display: grid;
  align-content: flex-end;
  color: whitesmoke !important;
  justify-content: flex-start;
  gap: 4px;
}
.homie_product_holder_orders_kernel_chart_X div {
  background-color: rgba(192, 192, 192, 0.3);
  padding: 3px;
  min-height: 30px;
  min-width: 30px;
}
.homie_product_holder_orders_kernel_chart_Y {
  display: grid;
  align-content: flex-end;
  color: whitesmoke !important;
  justify-content: flex-end;
  gap: 4px;
}
.homie_product_holder_orders_kernel_chart_Y div {
  background-color: rgba(220, 20, 60, 0.3);
  padding: 3px;
  min-height: 30px;
  min-width: 30px;
}
.homie_profile {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}
.homie_profile_kernel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  color: white;
}
.homie_profile_kernel #modal {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homie_profile_kernel_column {
  width: 95vw;
  max-width: 470px;
  padding: 20px;
  display: grid;
  row-gap: 30px;
  background-color: rgb(20, 20, 20);
  align-items: start;
}
.homie_profile_kernel_column h3 {
  color: #FFC300;
}
.homie_profile_kernel_column_intro {
  border-bottom: 1px dashed gray;
  padding: 5px;
  padding-bottom: 10px;
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
  position: relative;
}
.homie_profile_kernel_column_balance {
  border-bottom: 1px dashed gray;
  padding: 5px;
  padding-bottom: 10px;
}
.homie_profile_kernel_column_balance #double {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  align-items: center;
}
.homie_profile_kernel_column_balance #double #buts {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}
.homie_profile_kernel_column_balance #double #buts span {
  width: 35px;
  height: 35px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: x-large;
}
.homie_profile_kernel_column_balance #double #buts :nth-child(1) {
  background-color: rgba(0, 128, 0, 0.5);
  cursor: pointer;
}
.homie_profile_kernel_column_balance #double #buts :nth-child(1):hover {
  background-color: rgba(61, 187, 61, 0.5);
}
.homie_profile_kernel_column_balance #double #buts :nth-child(2) {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}
.homie_profile_kernel_column_balance #double #buts :nth-child(2):hover {
  background-color: rgba(190, 54, 54, 0.5);
}
.homie_profile_kernel_column_API {
  border-bottom: 1px dashed gray;
  padding: 5px;
  padding-bottom: 10px;
}
.homie_profile_kernel_column_API :nth-child(3) {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  align-items: center;
  position: relative;
}
.homie_profile_kernel_column_API :nth-child(3) button, .homie_profile_kernel_column_API :nth-child(3) a {
  background: transparent;
  border: none;
  background-image: linear-gradient(to left, #a47f02, #FFC300);
  padding: 3px 15px;
  border-radius: 5px;
  color: #000000;
  font-size: 15px;
  width: 110px;
  position: absolute;
  right: 30px;
  display: flex;
  justify-content: center;
}
.homie_profile_kernel_column_API :nth-child(3) button:hover, .homie_profile_kernel_column_API :nth-child(3) a:hover {
  background-image: linear-gradient(to left, #FFC300, #a47f02);
  color: whitesmoke;
}
.homie_profile_kernel_column_API :nth-child(3) img {
  cursor: pointer;
}
.homie_profile_kernel_column_API #delivery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.homie_profile_kernel_column_API #delivery button {
  position: relative;
  right: 0;
  width: 100%;
  background: wheat;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  height: 35px;
}
.homie_profile_kernel_column_API #delivery button:hover {
  color: black;
  background-color: rgb(213, 190, 146);
  border: 2px solid silver;
}
.homie_profile_kernel_column_API #key, .homie_profile_kernel_column_API #link {
  border: 1px solid rgb(88, 87, 87);
  width: 200px;
  padding: 2px 5px;
  background-color: black;
  border-radius: 5px;
  color: whitesmoke;
}

@media (max-width: 991.98px) {
  .homie_banner {
    padding: 0 20px;
  }
  .homie_banner_search_kernel {
    width: 35vw;
    min-width: 250px;
    position: relative;
    left: 6vw;
  }
  .homie_banner #login {
    right: 20px;
  }
  .homie_categories {
    grid-template-columns: 1fr;
  }
  .homie_subs {
    padding: 10px;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .homie_subs #showall {
    right: 25px;
  }
  .homie_product_holder {
    display: grid;
    justify-content: center;
  }
  .homie_product_holder #item {
    width: 50vw;
  }
  .homie_product_holder_details {
    min-width: 80vw;
  }
  .homie_profile_kernel {
    grid-template-columns: 1fr;
  }
  .homie_profile_kernel_column {
    max-width: 550px;
  }
}
@media (max-width: 767.98px) {
  .homie h3 {
    font-size: x-large;
  }
  .homie_banner #login span {
    display: none;
  }
  .homie_banner #login #w {
    display: none;
  }
  .homie_banner #login #afterlogin {
    right: -20%;
    width: 140%;
  }
  .homie_banner #login #afterlogin span {
    display: none;
  }
  .homie_banner #login #afterlogin button {
    justify-content: center;
  }
  .homie_banner #login #afterlogin button:hover {
    border: 2px solid whitesmoke;
  }
  .homie_banner_search {
    display: none;
  }
  .homie_banner #alt_search {
    display: block;
  }
  .homie_product {
    padding: 10px;
  }
  .homie_product_holder {
    width: calc(100vw - 42px);
  }
  .homie_product_holder_details {
    padding: 4% 2%;
    width: 90vw;
  }
  .homie_product_holder_orders_kernel {
    padding: 0 10px;
  }
  .homie_product_holder_orders_kernel_options {
    padding: 10px;
  }
  .homie_product_holder_orders_kernel_chart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homie_product_holder_orders_kernel_chart_X {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    order: 1;
    flex-direction: row-reverse;
  }
  .homie_product_holder_orders_kernel_chart_X div {
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    text-align: center;
    white-space: nowrap;
  }
  .homie_product_holder_orders_kernel_chart_Y {
    display: flex;
    justify-content: flex-end;
    order: 2;
    flex-direction: row-reverse;
  }
  .homie_product_holder_orders_kernel_chart_Y div {
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    text-align: center;
    white-space: nowrap;
  }
}
@media (max-width: 499px) {
  .homie_banner {
    padding: 2%;
  }
  .homie_banner #comments {
    right: 2%;
  }
  .homie_banner #login {
    right: 10px;
    box-shadow: none;
  }
  .homie_banner #login:hover {
    background: transparent;
  }
  .homie_banner #login #afterlogin {
    right: -6px;
    width: 140%;
  }
  .homie_banner #alt_search {
    right: 60px;
  }
  .homie_subs {
    overflow-x: scroll;
    flex-wrap: nowrap;
    position: relative;
    border-top: 1px solid rgb(70, 68, 68);
    border-bottom: 1px solid rgb(70, 68, 68);
  }
  .homie_subs #showall {
    right: -500px;
  }
  .homie h3 {
    font-size: large;
  }
  .homie_product_holder {
    width: calc(100vw - 20px);
  }
  .homie_product_holder #item {
    width: 90%;
  }
  .homie_product_holder_details {
    padding: 10px 5px;
    width: 90vw;
  }
  .homie_product_holder_details_title {
    font-size: larger;
  }
  .homie_product_holder_details_explain {
    -moz-column-gap: 2%;
         column-gap: 2%;
    font-size: medium;
  }
  .homie_product_holder_details_price {
    font-size: medium;
  }
  .homie_product_holder_orders_kernel_tabs {
    padding: 10px;
  }
  .homie_product_holder_orders_kernel_tabs button {
    font-size: large;
  }
  .homie_product_holder_orders_kernel_options {
    top: 42px;
  }
  .homie_product_holder_orders_kernel_options #titles div {
    font-size: medium;
  }
  .homie_product_holder_orders_kernel_options_option div {
    font-size: medium;
  }
  .homie_product_holder_orders_kernel_options_option div button {
    font-size: medium !important;
  }
}
@-webkit-keyframes src_enlarge {
  from {
    height: 10px;
  }
  to {
    height: 70px;
  }
}
@keyframes src_enlarge {
  from {
    height: 10px;
  }
  to {
    height: 70px;
  }
}
@-webkit-keyframes widen {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes widen {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes login_enlarge {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 150px;
    opacity: 1;
  }
}
@keyframes login_enlarge {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 150px;
    opacity: 1;
  }
}/*# sourceMappingURL=Home.module.css.map */