

.homie{
    padding-top: 75px;
    font-family: 'Handjet', cursive;
    letter-spacing: 0.4px;
    //background-color: #000000;
    min-height: 100vh;
    &_wallpaper{
        width: 100%;
        height: 100vh;
        background-image: url("../public/war.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: fixed;
        top: 70; bottom: 0;left: 0;right: 0;
        z-index: -1;
        background-color: black;
    }
    &_banner{
        height: 70px;
        position: fixed;
        top: 0; left: 0;right: 0;
        animation: shine 0.5s infinite;
        display: flex;
        align-items: center;
        padding: 0 40px;
        background-color: #a47f02;
        background-image: linear-gradient(to left, #a47f02, #FFC300);
        z-index: 99;
        #dropdown{
            position: relative;
            left: 10px;
            display: grid;
            #category{
                padding: 0 5px;
                box-shadow: 0 0 3px 1px black;
                height: 50px; width: 60px;
                cursor: pointer;
                &:hover{
                    background-color: rgba($color: #000000, $alpha: 0.3);
                    border-radius: 5px;
                    color: whitesmoke;
                }
            }
        }
        #modal{
            position: fixed;
            top:70px;
            left: 0; right: 0; bottom: 0;
            background-color: rgba($color: #000000, $alpha: 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 20px;
            color: whitesmoke;
            div{
                display: grid;
                row-gap: 10px;
                font-size: x-large;
                padding: 5px;
                box-shadow: 0 0 3px 1px var(--mainColor);
                cursor: pointer;
                &:hover{
                    padding: 15px;
                }
                img{
                    width: 40vw;
                    max-width: 190px;
                }
            }
        }
        &_search, &_search2{
            position: absolute;
            left: 0;
            //border: 2px solid white;
            width: 100%;
            display: grid;
            justify-content: center;
            z-index: -1;
            &_kernel{
                padding: 5px 20px;
                width: 50vw;
                max-width: 500px;
                position: relative;
                left: 4vw;
                //background-color: rgba($color: #000000, $alpha: 0.2);
                //border: 2px solid black;
                border-radius: 10px;
                display: flex;
                column-gap: 10px;
                box-shadow: 0 0 2px 1px black;
                input{
                    outline: none;
                    border: none;
                    background: transparent;
                    width: 100%;
                    line-height: 1.5;
                    padding-left: 10px;
                    font-size: large;
                    &::placeholder{
                        color: whitesmoke;
                        opacity: 0.5;
                    }
                }
                &:hover{
                    box-shadow: 0 0 4px 2px rgb(36, 35, 35);
                }
            }

        }
        &_search2{
            z-index: 999;
            background-color: black;
            padding: 5px;
            height: 70px;
            overflow: hidden;
            animation: src_enlarge 300ms 1;
            align-items: center;
            &_kernel{
                padding: 5px 4vw;
                max-width: 100vw;
                left: 0;
                width: 100vw;
                box-shadow: none;
                input{
                    color: whitesmoke;
                    &::placeholder{
                        color: whitesmoke;
                        opacity: 0.5;
                    }
                }
            }
            span{
                position: absolute;
                right: 20px;
                color: white;
                font-size: x-large;
                border: 2px solid silver;
                border-radius: 50%;
                width: 30px; height: 30px;
                display: flex; justify-content: center;
                cursor: pointer;
                &:hover{
                    color: crimson;
                    border: 2px solid crimson;
                }
            }
        }
        #alt_search{
            position: absolute;
            right: 140px;
            display: none;
            cursor: pointer;
        }
        #comments{
            position: absolute;
            right: 40px;
            filter: brightness(1.9);
        }
        #login{
            position: absolute;
            right: 80px;
            //border: 2px solid blue;
            display: flex;
            column-gap: 5px;
            align-items: center;
            font-size: larger;
            letter-spacing: normal;
            cursor: pointer;
            letter-spacing: -0.5px;
            border: none;
            background: transparent;
            padding: 10px;
            box-shadow: 0 0 3px 1px black;
            &:hover{
                background-color: rgba($color: #000000, $alpha: 0.3);
                border-radius: 5px;
            }
        }
    }
    &_subs{
        //border: 2px solid white;
        color: whitesmoke;
        padding: 10px 40px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        column-gap: 20px;
        flex-wrap: wrap;
        height: 50px;
        row-gap: 10px;
        overflow: hidden;
        button{
            padding: 5px 20px;
            background-color: rgba($color: silver, $alpha: 0.3);
            color: whitesmoke;
            height: 30px;
        }
        #showall{
            position: absolute;
            right: 40px;
            background-color: black;
            border: none;
            span{
                position: absolute;
                left: -8px;top:0;
                width: 9px; height: 35px;
                background-color: black;
                box-shadow: -6px -2px 15px 4px black;
            }
            h4{
                position: absolute;
                top:-3px;
                background-color: black;
                color: var(--mainColor);
                font-size: x-large;
                font-weight:bolder;
                padding: 0;
                border-radius: 50%;
                width: 35px; height: 35px;
                border: 2px solid gray;
            }
        }
        #shrink{
            background-color: transparent;
            color: var(--mainColor);
            font-size: x-large;
            font-weight:bolder;
            padding: 0;
            border-radius: 50%;
            width: 35px; height: 35px;
            border: 2px solid gray;
        }
    }
    &_categories{
        //border: 2px solid yellow;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1%;
        padding: 1%;
        justify-items: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &_each{
            font-size: 2em;
            display: grid;
            row-gap: 5px;
            justify-content: center;
            cursor: pointer;
            //border: 1px solid var(--mainColor);
            background-color: rgba($color: black, $alpha: 0.6);
            color: whitesmoke;
            position: relative;
            padding: 2%;
            padding-top: 0;
            max-width: 800px;
            img{
                z-index: 2;
                box-shadow: 0 0 8px 1px whitesmoke;
            }
            &:hover{
                background-image: linear-gradient(to left, #FFC300,#a47f02);
                border-radius: 5px;
                //padding: 1%;
                img{
                    border-bottom-right-radius: 30%;
                    box-shadow: 0 0 8px 1px black;
                }
            }
            #hideout{
                position: absolute;
                bottom: 2%; right: 2%;
                z-index: 1;
                img{
                    width: 4vw;
                    max-width: 30px;
                    aspect-ratio: 1/1;
                }
            }
            #sld{
                display: none;
            }
        }
    }
    &_items{
        display: grid;
        justify-items: center;
        &_shell{
            justify-content:center;
            display: flex;
            flex-wrap:wrap;
            gap:20px;
            padding: 20px;
            &_each{
                width: 250px;
                border-radius: 5px;
                aspect-ratio: 2/3;
                padding: 30px 20px;
                box-shadow: 1px 1px 9px 0px silver;
                background-color: rgba($color: #000000, $alpha: 0.5);
                color: white;
                position: relative;
                cursor: pointer;
                &:hover{
                    //box-shadow: 1px 1px 9px 4px var(--mainColor);
                    box-shadow: 1px 1px 9px 4px silver;
                }
                &:hover &_image{
                    img{
                        box-shadow: 1px 1px 9px 4px var(--mainColor);
                    }
                }
                #icon{
                    position: absolute;
                    bottom:20px; right:20px;
                    //border: 2px solid var(--mainColor);
                }
                &_image{
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    img{
                        object-fit: contain;
                        object-position: center;
                        width: 100%;
                        height: 100%;
                        box-shadow: 0 0 9px 1px whitesmoke;
                        padding: 3%;
                        border-radius: 10px;
                    }
                }
                &_details{
                    padding-top: 30px;
                    padding-left: 10px;
                    //border: 2px solid white;
                    height: 50%;
                    h2{font-weight: 200;}
                    h3{padding-top: 10px; color: var(--mainColor); font-weight: 100; font-size: x-large;}
                }
            }
        }
    }
    &_product{
        //border: 3px solid whitesmoke;
        min-height: 100vh;
        padding: 20px 40px;
        position: relative;
        #cover{
            position: fixed;
            top: 70px; left: 0; right: 0; bottom: 0;
            z-index: 1;
            object-fit: cover;
            width: 100%;
            height: 100%;
            
        }
        #blacken{
            background-color: rgba($color: black, $alpha: 0.7);
            position: fixed;
            top: 70px; left: 0; right: 0; bottom: 0;
            z-index: 2;
        }
        &_holder{
            position: absolute;
            z-index: 3;
            width: calc(100% - 80px);
            box-shadow: 0 0 4px 1px rgb(34, 33, 33);
            display: flex;
            #item{
                object-fit: contain;
                padding: 2%;
                width: 30vw;
                min-width: 300px;
                height: auto;
            }
            &_details{
                width: 100%;
                color: white;
                padding: 2% 4%;
                display: grid;
                row-gap: 10px;
                &_title, &_explain, &_price{
                    border-bottom: 1px solid rgb(95, 93, 93);
                }
                &_title{
                    font-size: xx-large;
                }
                &_explain{
                    display: flex; column-gap: 5%;
                    font-size: large;
                }
                &_price{
                    font-size: larger;
                }
                &_buts{
                    display: flex;
                    justify-content: flex-end;
                    column-gap: 10px;
                    button{
                        background: transparent;
                        padding: 5px 20px;
                        color: whitesmoke;
                        font-size: larger;
                    }
                }
            }
            &_orders{
                position: absolute;
                bottom: -110px;
                display: grid;
                justify-items: center;
                //border: 2px solid blue;
                width: 100%;
                &_kernel{
                    background-color: rgba($color: black, $alpha: 0.35);
                    padding: 0 40px;
                    position: relative;
                    width: 100%;
                    max-width: 1000px;
                    border-top: 2px solid rgb(70, 66, 66);
                    &_tabs{
                        display: flex;
                        column-gap: 5%;
                        padding: 20px 0;
                        button{
                            border: none;
                            background-color: transparent;
                            color: rgb(199, 196, 196);
                            font-size: x-large;
                            font-weight: bold;
                            position: relative;
                            display: grid;
                            justify-items: center;
                            &:hover{
                                #line{
                                    width: 100%;
                                    display: block;
                                    animation: widen 0.2s 1;
                                    border: 2px solid rgb(199, 196, 196);
                                }
                            }
                            #line{
                                position: absolute;
                                bottom: -5px;
                                display: none;
                            }
                        }
                    }
                    &_options{
                        position: absolute;
                        padding: 20px 40px;
                        top:66px; left: 0; right: 0;
                        color: whitesmoke !important;
                        background-color: rgba($color: white, $alpha: 0.15);
                        display: grid;
                        row-gap: 5px;
                        #titles{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr;
                            column-gap: 20px;
                            div{
                                padding: 5px 10px;
                                background-color: rgba($color: black, $alpha: 0.65);
                                font-size: larger;
                            }
                            margin-bottom: 10px;
                        }
                        &_option{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr;
                            column-gap: 1vw;
                            div{
                                display: flex;
                                align-items: center;
                                background-color: rgba($color: black, $alpha: 0.65);
                                padding: 5px 10px;
                                font-size: larger;
                                }
                            div:nth-child(1){
                                //background-color: red;
                                justify-content: center;
                                img{
                                    object-fit: cover;
                                    width: 100%;height: auto;
                                }
                            }
                            div:nth-child(4){
                                justify-content: center;
                                background-color: transparent;
                                padding: 0;
                                button{
                                    width: 100%; 
                                    padding: 10px;
                                    background-color: transparent;
                                    color: #FFC300;
                                    font-size: x-large;
                                }
                            }
                        }
                    }
                    &_chart{
                        width: 100%;
                        position: absolute;
                        top:60px; left: 0;
                        padding: 20px 40px;
                        display: grid;
                        grid-template-columns: 30% 70%;
                        min-height: 300px;
                        align-items: flex-start;
                        #result{
                            border: 3px solid green;
                            background-color: white;
                            position: absolute;
                            width: 50%; max-width: 100px;
                            height: 50%; max-height: 100px;
                            z-index: 2;
                        }
                        canvas{
                            background-color: rgba($color: silver, $alpha: 0.2);
                            position: absolute;
                            width: 100%; right: 0;top: 10px;
                            object-fit: contain;
                            z-index: 1;
                        }
                        &_yy{
                            position: absolute;
                            top:0; left: 0;
                            width: 10%;
                            aspect-ratio: 1/3.05;
                            background-color: rgba($color: green, $alpha: 0.3);
                            display: grid;
                            color: whitesmoke !important;
                            div{
                                display: flex;
                                justify-content: center;
                                text-decoration: underline;
                                font-size: small;
                            }
                        }
                        &_X{
                            display: grid;
                            align-content: flex-end;
                            color: whitesmoke !important;
                            justify-content: flex-start;
                            gap: 4px;
                            div{
                                background-color: rgba($color: silver, $alpha: 0.3);
                                padding: 3px;
                                min-height: 30px;
                                min-width: 30px;
                            }
                        }
                        &_Y{
                            display: grid;
                            align-content: flex-end;
                            color: whitesmoke !important;
                            justify-content: flex-end;
                            gap: 4px;
                            div{
                                background-color: rgba($color: crimson, $alpha: 0.3);
                                padding: 3px;
                                min-height: 30px;
                                min-width: 30px;
                            }
                        }
                    }
                }
                
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .homie{
        &_banner{
            padding: 0 20px;
            &_search{
                &_kernel{
                    width: 35vw;
                    min-width: 250px;
                    position: relative;
                    left: 6vw;
                }
            }
        }
        &_categories{
            grid-template-columns: 1fr;
        }
        &_subs{
            padding: 10px;
            column-gap: 5px;
            #showall{
                right: 25px;
            }
        }
        &_product{
            &_holder{
                display: grid;
                justify-content: center;
                #item{
                    width: 50vw;
                }
                &_details{
                    min-width: 80vw;
                }
            }
        }
    }
 }

 @media (max-width: 767.98px) { 
    .homie{
        &_banner{
            #login{
                span{
                    display: none;
                }
            }
            &_search{
                display: none;
            }
            #alt_search{
                display: block;
            }
        }
        &_product{
            padding: 10px;
            &_holder{
                width: calc(100vw - 42px);
                &_details{
                    padding: 4% 2%;
                    width: 90vw;
                }
                &_orders{
                    &_kernel{
                        padding: 0 10px;
                        &_tabs{
                        }
                        &_options{
                            padding: 10px;
                        }
                        &_chart{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            &_X{
                                display: flex;
                                justify-content: flex-end;
                                align-items: flex-end;
                                order: 1;
                                flex-direction: row-reverse;
                                div{
                                    writing-mode: vertical-rl;
                                    text-align: center;       
                                    white-space: nowrap; 
                                }
                            }
                            &_Y{
                                display: flex;
                                justify-content: flex-end;
                                order: 2;
                                flex-direction: row-reverse;
                                div{
                                    writing-mode: vertical-rl;
                                    text-align: center;       
                                    white-space: nowrap; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
 }

  

 @media (max-width: 499px) { 
    .homie{
        &_banner{
            padding: 2%;
            #comments{
                right: 2%;
            }
            #login{
                right: calc(2% + 30px);
                box-shadow: none;
            }
            #alt_search{
                right: 80px;
            }
        }
        &_subs{
            overflow-x: scroll;
            flex-wrap: nowrap;
            position: relative;
            //top: -20px;
            border-top: 1px solid rgb(70, 68, 68);
            border-bottom: 1px solid rgb(70, 68, 68);
            #showall{
                right: -500px;
            }
        }
        h3{
            font-size: x-large;
        }
        &_product{
            &_holder{
                width: calc(100vw - 20px);
                #item{
                    width: 90%;
                }
                &_details{
                    padding: 10px 5px;
                    width: 90vw;
                    &_title{
                        font-size: larger;
                    }
                    &_explain{
                        column-gap: 2%;
                        font-size: medium;
                    }
                    &_price{
                        font-size: medium;
                    }
                }
                &_orders{
                    &_kernel{
                        &_tabs{
                            padding: 10px;
                            button{
                                font-size: large;
                            }
                        }
                        &_options{
                            top:42px;
                            #titles{
                                div{font-size: medium;}
                            }
                            &_option{
                                div{
                                    font-size: medium;
                                    button{font-size: medium !important;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
 }


 @keyframes src_enlarge {
    from{
        height: 10px;
    }
    to{
        height: 70px;
    }
 }

 @keyframes widen {
    from{width: 0;}to{width: 100%;}
 }