

.homie{
    padding-top: 75px;
    font-family: 'Handjet', cursive;
    letter-spacing: 0.4px;
    &_wallpaper{
        width: 100%;
        height: 100vh;
        background-image: url("../public/war_theme.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: fixed;
        top: 0; bottom: 0;left: 0;right: 0;
        z-index: -1;
    }
    &_banner{
        height: 70px;
        position: fixed;
        top: 0; left: 0;right: 0;
        animation: shine 0.5s infinite;
        display: flex;
        align-items: center;
        padding: 0 40px;
        background-color: #a47f02;
        background-image: linear-gradient(to left, #a47f02, #FFC300);
        z-index: 99;
        #comments{
            position: absolute;
            right: 40px;
            filter: brightness(1.9);
        }

    }
    &_items{
        display: grid;
        justify-items: center;
        &_shell{
            justify-content:center;
            display: flex;
            flex-wrap:wrap;
            gap:20px;
            padding: 20px;
            &_each{
                width: 250px;
                border-radius: 5px;
                aspect-ratio: 2/3;
                padding: 30px 20px;
                box-shadow: 1px 1px 9px 0px silver;
                background-color: rgba($color: #000000, $alpha: 0.5);
                color: white;
                position: relative;
                cursor: pointer;
                &:hover{
                    //box-shadow: 1px 1px 9px 4px var(--mainColor);
                    box-shadow: 1px 1px 9px 4px silver;
                }
                &:hover &_image{
                    img{
                        box-shadow: 1px 1px 9px 4px var(--mainColor);
                    }
                }
                #icon{
                    position: absolute;
                    bottom:20px; right:20px;
                    //border: 2px solid var(--mainColor);
                }
                &_image{
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    img{
                        object-fit: contain;
                        object-position: center;
                        width: 100%;
                        height: 100%;
                        box-shadow: 0 0 9px 1px whitesmoke;
                        padding: 3%;
                        border-radius: 10px;
                    }
                }
                &_details{
                    padding-top: 30px;
                    padding-left: 10px;
                    //border: 2px solid white;
                    height: 50%;
                    h2{font-weight: 200;}
                    h3{padding-top: 10px; color: var(--mainColor); font-weight: 100; font-size: x-large;}
                }
            }
        }
    }
}