.slider{
    display: grid;
    justify-content: center;
    height: 500px;
    position: relative;
    transition: 200ms opacity ease-in-out;
    margin-bottom: 20px;
    h1{
        z-index: 2;
        position: absolute;
        left: 10%;
        top:10%;
        font-size: 50px;
        color: whitesmoke;
        text-shadow: 2px 2px black;
        font-family: var(--font-mono);
        width: 80vw;
        max-width: 500px;
        letter-spacing: -2px;
    }
    #right{
        position: absolute;
        display: grid;
        align-self: center;
        justify-content: center;
        right: 0;
        z-index: 99;
        border: none;
        background-color: transparent;
        font-size: 70px;
        color: silver;
        &:hover{
            color: whitesmoke;
        }
    }
    #left{
        position: absolute;
        display: grid;
        align-self: center;
        justify-content: center;
        left: 0px;
        z-index: 99;
        border: none;
        background-color: transparent;
        font-size: 70px;
        color: silver;
        &:hover{
            color: whitesmoke;
        }
    }
    #image_active, #image_passive{
        width: calc(100% - 80px);
        height: 500px;
        object-fit: cover;
        position: absolute;
        display: grid;
        justify-self: center;
        transition: 200ms opacity ease-in-out;
        transition-delay: 200ms;
        box-shadow: 0 0 7px 3px rgb(60, 60, 60);
        padding: 2%;
    }
    #image_passive{
        opacity: 0;
    }
    #image_active{
        animation: wiggle 200ms 1;
        animation-delay: 200ms;
    }
}

@keyframes wiggle {
    from{
        left: 400px;
        top:-50px;
    }
    to{
        left: 40px;
        top:0;
    }
}

@keyframes wiggle_2 {
    from{
        left: 400px;
        top:-50px;
    }
    to{
        left: 0;
        top:0;
    }
}



@media (max-width: 991.98px) { 
    .slider{
        height: 400px;
        #image_active, #image_passive{
            width: 100%;
            height: 400px;
            box-shadow: none;
            padding: 0;
        }
        #image_active{
            animation: wiggle2 200ms 1;
        }
    }
 }





 @media (max-width: 767.98px) { 
    .slider{
        height: 300px;
        #image_active, #image_passive{
            width: 100%;
            height: 300px;
            box-shadow: none;
            padding: 0;
        }
        #image_active{
            animation: wiggle2 200ms 1;
        }
    }
  }



  @media (max-width: 499.98px) { 
    .slider{
        height: 200px;
        align-content: flex-start;
        #right, #left{
            display: none;
        }
        #image_active, #image_passive{
            height: 200px;
        }
    }
  }