.balance{
    min-height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    &_kernel{
        width: 100vw;
        max-width: 600px;
        padding: 20px 30px;
        background-color: rgb(20, 20, 20);
        &_tabs{
            display: flex;
            padding-left: 10px;
            &_each{
                display: flex;
                column-gap: 20px;
                align-items: center;
                h3{
                    color: gold;
                }
                h4{
                    color: rgb(200, 196, 196);
                    font-weight: 400;
                    font-size: larger;
                }
            }
        }

        &_triple{
            background-color: black;
            color: whitesmoke;
            margin-top: 20px;
            position: relative;
            &_buts{
                display: flex;
                column-gap: 20px;
                padding: 10px 20px;
                border-top: 1px dashed gray;
                button{
                    padding-left: 10px;
                    background: transparent;
                    color: whitesmoke;
                    padding: 5px 0;
                    border: none;
                    display: flex;
                    justify-content: center;
                    font-size: large;
                    position: relative;
                    #enlarge{
                        width: 100%;
                        height: 2px;
                        border: 2px solid silver;
                        position: absolute;
                        bottom: -2px;
                        display: none;
                        animation: enlarge 0.3s 1;
                    }
                    #active{
                        position: absolute;
                        bottom: -35px;
                    }
                    &:hover{
                        #enlarge{
                            display: block;
                        }
                    }
                }
            }
            &_explain{
                position: absolute;
                background-color: black;
                top:90px;
                width: 100%;
                padding: 40px 20px;
                min-height: 250px;
                border-top: 1px dashed gray;
                &_amount{
                    display: flex;
                    column-gap: 20px;
                    align-items: center;
                    margin-bottom: 20px;
                    div{
                        width: 50px;
                        line-height: 1.1;
                    }
                    input{
                        border: 1px solid rgb(203, 184, 77);
                        outline: none;
                        background-color: rgb(29, 29, 29);
                        color: whitesmoke;
                        padding: 3px 5px;
                        height: 35px;
                        border-radius: 3px;
                    }
                    button{
                        border: 1px solid rgb(203, 184, 77);
                        background: transparent;
                        padding: 3px 10px;
                        border-radius: 3px;
                        color: whitesmoke;
                        display: flex;
                        column-gap: 5px;
                        align-items: center;
                        font-size: 14px !important;
                        height: 35px;
                        position: relative;
                        &:hover{
                            border: 1px solid whitesmoke;
                            background-color: rgb(58, 57, 57);
                            color: gold;
                        }
                    }
                }
                &_transactions{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 2fr;
                    span{
                        display: flex;
                        justify-content: center;
                        font-size: 14px;
                        font-weight: 300;
                        border-bottom: 1px solid rgb(94, 86, 41);
                        height: 35px;
                        align-items: center;
                    }
                    &_tab{
                        font-size: 17px !important;
                        margin-bottom: 5px;
                        color: gold;
                        font-weight: 400;
                        border-bottom: none !important;

                    }
                }
            }
        }
    }
}

.inventory{
    color:whitesmoke;
    display: grid;
    justify-content: center;
    &_kernel{
        display: grid;
        justify-content: center;
        row-gap: 10px;
        padding-top: 20px;
        align-items: flex-start;
        min-height: calc(100vh - 80px);
        #modal{
            position: fixed;
            top:70px;
            left: 0; right: 0; bottom: 0;
            background-color: rgba($color: #000000, $alpha: 0.8);
            z-index: 99;
            display: flex;
            justify-content: center;
            align-items: center;
            #chosen{
                align-items: center;
                background-color: gray !important;
                box-shadow: 0 0 9px 2px whitesmoke;
                grid-template-columns: 2fr 6fr 2fr 2fr 1fr;
                position: relative;
                h1{
                    position: absolute;
                    color: white;
                    top:-70px;
                    display: grid;
                    justify-self: center;
                }
                input{
                    height: 35px;
                    width: 100%;
                    margin-left: 3px;
                    &::placeholder{
                        color: whitesmoke;
                    }
                }
                button{
                    font-size: large;
                }
                #close{
                    width: 35px; height: 35px;
                    border: 2px solid silver;
                    border-radius: 50%;
                    &:hover{
                        background-color: black;
                        color: crimson;
                    }
                }
            }
        }
        &_item{
            display: grid;
            grid-template-columns: 2fr 6fr 2fr 2fr 50px;
            width: 90vw;
            max-width: 1200px;
            input{
                background-color: transparent;
                border: 2px solid silver;
                border-radius: 5px;
                padding: 3px 5px;
                outline: none;
                font-size: large;
                color: whitesmoke;
                &:focus{
                    border: 2px solid gold;
                }
            }
            button{
                border: none;
                background:transparent;
                color: whitesmoke;
                &:hover{
                    text-decoration: underline;
                    color: gold;
                }
            }
            span{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 5px;
                &:nth-child(1){
                    justify-content: center;
                    padding-left: 0;
                }
                &:nth-child(2){
                    padding-left: 10px;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                        color: gold;
                    }
                }
            }
            #icon{
                display: grid;
                justify-content: center;
                position: relative;
                span{
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: calc(50% - 5px);
                    border-radius: 50%;
                    box-shadow: 0 0 35px 15px gold;
                }
                img{
                    width: 90px;
                    height: auto;
                    z-index: 3;
                    //background-color: rgba($color: goldenrod, $alpha: 0.8);
                }
                #popup{
                    position: absolute;
                    right: -200px;
                    height: fit-content; width: 200px;
                    min-height: 50px;
                    background-color: silver;
                    animation: popup 0.1s 1;  
                    transition: height 0.1s ease-in-out;
                    padding: 10px;   
                    color:black;
                    display: grid;
                    align-content: center;
                }
            }
        }
        #tempo{
            width: 90vw;
            max-width: 500px;
            aspect-ratio: 1/1;
            background-color: black;
            border-radius: 50%;
            //box-shadow: 0px -2px 2px 0px goldenrod;
            animation: sunrise 2.5s infinite;
            display: grid;
            justify-content: center;
            align-items: center;
            color: silver;
        }
    }
}

.trades{
    height: 600px;
    color: whitesmoke;
    padding: 30px 2vw;
    &_titles{
        //background-color: #36454F;
        display: flex;
        column-gap: 5vw;
        span{
            display: grid;
            justify-items: center;
            align-items: center;
            font-size: medium;
            cursor: pointer;
            :nth-child(1){
                font-size: xx-large;
                display: flex;
                align-content: flex-end;
            }
        }
        align-items: center;
        padding-left: 1vw;
    }
    &_all{
        padding-top: 30px;
        display: grid;
        row-gap: 10px;
        &_each{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            img{
                object-fit: contain;
                width: 80px;
                height: auto;
            }
            #name{
                display: grid;
                justify-items: center;
            }
            #image{
                position: relative;
                span{
                    position: absolute;
                    left: 35px;
                    top:50%;
                    z-index: 1 !important;
                }
            }
        }
    }
}

@media (max-width: 575.98px) { 
    .balance{
        &_kernel{
            padding: 20px;
            &_triple{
                &_explain{
                    &_transactions{
                        grid-template-columns: 1fr 1fr 2fr 3fr;
                        span{
                            font-size: small;
                        }
                    }
                }
            }
        }
    }
 }


@keyframes enlarge {
    from{width: 0;}
    to{width: 100%;}
}

@keyframes sunrise {
    from{
        box-shadow: 0px -2px 2px 0px goldenrod;
        font-size: large;
    }to{
        box-shadow: 0px -25px 30px -2px goldenrod;
        font-size: xx-large;
    }
}

@keyframes popup {
    from{height: 0;}
    to{height: fit-content;}
}